/* $Id: $ */
@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,caption, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

body {
	background-attachment: fixed;
	color: #444444;
	font: 75%/1.3 Arial, sans-serif;
	margin: 0 auto;
}

input, input[type="text"], input[type="search"], isindex, textarea, button {
	outline:none;
	margin:0 auto;
	padding:5px 10px;
}

img, a {
	border:0px;
	outline:none;
	color:#3a6cae;
	text-decoration:none;
}
img, a:hover {
	text-decoration:underline;
}
.flLeft {
	float:left;
}
.flRight {
	float:right;
}
.clearBoth {
	clear:both;
}
ol, ul {
	list-style: none outside none;
}
.normalText {
	font-size:13px;
	line-height:1.5;
}
.smallText {
	font-size:0.9em;
	font-weight:normal;
}
.smallHeading {
	font-size:18px;
}
.heading {
	font-size:2em;
}
.subHeading {
	font-size:1.5em;
}
.boldText, .boldText a {
	font-weight:bold;
	text-decoration:none;
}
.italicText {
	font-style:italic;
}
.heading a {
	text-decoration:underline;
}
.heading a:hover {
	text-decoration:none;
}
.blodText {
	font-weight:bold;
}
.overAuto {
	overflow:auto;
}
.split {
	color: #8B9193;
	padding: 0 3px;
}

.smalLable {
	color: #575858;
	font-size: 12px;
}

.backgroundBg {
	background:#f5f5f5;
}

.templateWidth {
	margin:1% auto;	
}

.templateWidth { 
	width:800px;
	}

.templateWrapper {
	background:#fff;
	border:1px solid #d6d6d6;
	-webkit-box-shadow: 0 0px 3px #E1E1E1;
	-moz-box-shadow: 0 0px 3px #E1E1E1;
	box-shadow: 0 0px 3px #E1E1E1;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}

.tempContDiv input[type="text"], .tempContDiv textarea, .tempContDiv .pdfTextArea {
	background:#fff;	
	border:1px solid #e5e5e5;	
	-webkit-border-radius:2px; 	
	-moz-border-radius:2px;	
	border-radius:2px;	
	padding:5px;
	font-size:13px;	
}

.tempContDiv input[type="text"]:hover,  .tempContDiv textarea:hover{	
	border:1px solid rgba(157, 157, 157, 0.75) !important;	
	}	
.tempContDiv input[type="text"]:focus, .tempContDiv textarea:focus{	
	border:1px solid rgba(121, 187, 238, 0.75) !important;	
	}
	
.tempContDiv textarea {
	height:75px;
}

.errorMessage {
	font:12px Arial, Helvetica, sans-serif;
	color:#ff0000;
	padding-top:5px;
}

/*Mandatory Message*/	
.important {
	color:#ff0000 !important;
	font-weight: normal;
	margin-left:0px;
	padding: 0;
	font-size:13px !important;
}	

.symbols {
	padding:0 5px;
}

.overflow{ overflow:hidden;}

/*template Header Starts Here*/

.tempHeadBdr {
	margin:0;
	padding:0;
	overflow:hidden;
}

.tempHeadContBdr {
	background: #494949;
	border-bottom:1px solid #EAEAEA;
	margin: 0;
	padding:10px 25px;
	-webkit-border-radius:2px 2px 0 0;
	-moz-border-radius:2px 2px 0 0;
	border-radius:2px 2px 0 0;
}
.tempHeadContBdr .frmTitle {
	color: #FFFFFF;
	margin: 0;
	padding: 0;
	font-size:2em;
}
.tempHeadContBdr .frmDesc {
	color: #DDDDDD;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

/*template Header Ends Here*/

.subContWrap {
	padding:0;
	margin:10px;
	margin-bottom:0;
}

.tempFrmWrapper {
	padding:10px 15px;
	margin:1px 0;
}

.tempFrmWrapper .tempContDiv {
	margin:0;
	padding:0;
}

.tempFrmWrapper .labelName {
	font-weight:bold;
	font-size:13px;
	color:#444;
}

.form-sBox{ 
	padding:4px; 
	border:1px solid #e5e5e5; 
	font-size:13px;
	}

.name .tempContDiv span, .phone .tempContDiv span, .time .tempContDiv span{
	float: left;
	display:block;
}

.tempContDiv input[type="file"]{
	outline:none;
	border:1px solid #ccc;
	margin:0 auto;
	padding:5px;
	width:auto;
}


.address .tempContDiv span, .geolocation .tempContDiv span {
	display:block;
	padding-bottom:15px;
	margin-right:2%;
	}
	
.address .tempContDiv span label, .geolocation .tempContDiv span label{
	display: block;
	padding-top:3px;
	}	
	
.address .tempContDiv .addOne, .geolocation .tempContDiv .addOne{
	float: none;
	padding-bottom:15px;
	margin-right:0;
	}

.address .tempContDiv .addOne input, .geolocation .tempContDiv .addOne input{
	width:98%;
	}
.address .tempContDiv span.addtwo, .geolocation .tempContDiv span.addtwo{
	width:48%;
	}
.address .tempContDiv span.addtwo input, .geolocation .tempContDiv span.addtwo input{
	width:99%;
	}	
.address .tempContDiv span.addtwo .form-sBox{
	width:100%;
	}

.templateWrapper .note{ 
	overflow:hidden;
	}

.date .tempContDiv span label {
	display: block;
	padding-top:3px;
	text-align:left;
}

.tempContDiv input[type="checkbox"], .tempContDiv input[type="radio"] {
	display: block;
	height: 13px;
	margin: 4px 0 0;
	padding: 0;
	width: 13px;
}

.radio .overflow, .checkbox .overflow{padding-left:2px !important;}
		
.oneColumns .tempContDiv span {
	margin:0 0 13px 0;
	padding:0;
	width:100%;
	display:block;
	clear: both;
}
.oneColumns .tempContDiv span:last-child { margin-bottom:0;}

.oneColumns .tempContDiv span input[type="checkbox"] {
	display: block;
	width: 13px;
	height: 13px;
	margin:0;
	padding: 0;
	margin-top:3px;
	float:left;
}
.oneColumns .tempContDiv span input[type="radio"] {
	display: block;
	width: 13px;
	height: 13px;
	margin-top:4px;
	padding: 0;
	float:left;
}
.oneColumns .tempContDiv span label {
	line-height:19px;
	display: block;
	margin: 0 0 0 20px;
	padding:0;
	font-size:13px;
}
.twoColumns .tempContDiv span {
	margin: 0 5px 13px 0;
	width: 48%;
	float: left;
	display:block;
}
.twoColumns .tempContDiv span input[type="checkbox"] {
	display: block;
	width: 13px;
	height: 13px;
	margin: 0;
	padding: 0;
	margin-top:3px;
	float:left;
}
.twoColumns .tempContDiv span input[type="radio"] {
	display: block;
	width: 13px;
	height: 13px;
	margin-top:4px;
	padding: 0;
	float:left;
}
.twoColumns .tempContDiv span label {
	line-height:21px;
	display: block;
	margin: 0 0 0 20px;
	padding: 0 0 5px;
}	

.fmFooter {
	margin:0;
	padding:25px;
	text-align:center;
}

.fmFooter .submitColor{ font-size:14px; padding:4px 10px;}

.submitColor{
	color: #fff;
	border:1px solid;
	border-color: #2F9EEC #1988D6 #1988D6;
	background: #2596e6;
	background: -webkit-gradient(linear, left top, left bottom, from(#2f9eec), to(#1988d6));
	background: -moz-linear-gradient(top,  #2f9eec,  #1988d6);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f9eec', endColorstr='#1988d6');
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.15);
	text-shadow:0 1px 0 rgba(0, 0, 0, 0.25);
	}
	
.submitColor:hover{
	background: #1988d6;
	background: -webkit-gradient(linear, left top, left bottom, from(#1988d6), to(#1988d6));
	background: -moz-linear-gradient(top,  #1988d6,  #1988d6);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1988d6', endColorstr='#1988d6');
	}	   	

/*Field Small/Medium/Large Starts Here*/
.large .tempContDiv input[type="text"], .large .tempContDiv textarea, .large .mSelect select, .large .tempContDiv .sliderCont, .large .tempContDiv .pdfTextArea, .large .signContainer{
	width:100%;
	}
        .signContainer canvas{
            width:100%;
        }
.large .tempContDiv .form-sBox{
	width:100%;
	}

/*Field Small/Medium/Large Ends Here*/	

.topAlign .tempFrmWrapper .labelName {
	padding-bottom:8px;
	display:block;
}

.topAlign .threeColumns .labelName, .topAlign .twoColumns .labelName, .topAlign .oneColumns .labelName, .topAlign .sideBySide .labelName{ padding-bottom:8px;}


